body {
	background-color: rgb(82, 170, 241);
	opacity: 0.9;
	background: #F5F5F5;
	font-family: 'Open Sans', sans-serif;
}

/* the two main column divs */ 
.left-body {
	display:inline-block;
	margin: 2% 0% 2% 7%;
	width: 35%;
	box-sizing:border-box;
	text-align:left;
}

.nominations {
	margin: 2% 13% 2% 0%;
	width: 35%;
	box-sizing:border-box;
	text-align:left;
	float:right;
	top: 0;;
}

/* the search section + title headers*/
h1 {
	font-family: Georgia, serif;
	display: inline-block;
	text-align: left;
	font-size: 3em;
	font-weight: 1000;
	letter-spacing: -0.03em;
}

form {
	position: left;
	width: 109%;
	margin-bottom: 10%;
	display: flex;
	position: sticky;
	top: 0;
}

.searchButton {
	width: 45px;
	height: 36px;
	border: 0px solid #00B4CC;
	background: #00B4CC;
	text-align: center;
	color: #fff;
	border-radius: 0px 10px 10px 0px;
	cursor: pointer;
	display: inline-block;
	font-size: 17px;
}

#title { /* search input field */
	height: 36px;
	width: 105%;
	border: 3px solid #00B4CC;
	border-right: none;
	padding: 5px;
	border-radius: 10px 0px 0px 10px;
	outline: none;
	font-size: 18px;
}

#title:focus{ /* search input field (when focused) */
	background-color: #ccffff;
}

/* the search results section */
td {
    border: 2px solid #80aaff;
    border-radius: 50%;
    background-color: #e6ffff;
    text-align:center;
    min-width:25px;
    padding:2px;
    cursor: pointer;
}

.singleMovie {
    margin: 2% 2% 3% 0%;
    border: 10px solid white;
    border-radius: 25px;
    width: 102%;
    padding: 2% 2% 2% 5%;
    background-color: #e6ffff;
}

.singleMovie img {
	display: inline-block;
    border: 2px solid darkgrey;
    border-radius: 5%;
    background-color: white
    height: 200px;
    width: 150px;
}

.singleMovieInfo {
	padding: 2%;
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
}

.singleMovieInfo h4 {
	margin: 0%;
	font-family: Georgia, serif;
	letter-spacing: -0.02em;
	text-decoration: underline;
	color: #00B4CC;
	cursor: pointer;
}

.singleMovieInfo p {
	font-style: italic;
	letter-spacing: -0.01em;
}

/* The nominate/remove/disabled button styles */
.singleMovieInfo button {
	margin-top: 10px;
	padding: 10px;
	font-size:14px;
	width: 80px;
	color: #fff;
	border-radius: 10px;
}

#nominateButton {
	border: solid 1px #186f8f;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #2ba0ca),
		color-stop(1, #3eb8e5));
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	cursor: pointer;
}

#disabledButton {
	border: solid 1px #4c585d;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #6e8087),
		color-stop(1, #86969c));
	box-shadow: inset 0px 1px 0px #b0bbbf, 0px 1px 0px #fff;
	cursor: not-allowed;
}


#removeButton {
	border: solid 1px #901818;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #b33d2b),
		color-stop(1, #e84135));
	box-shadow: inset 0px 1px 0px #f17e7e, 0px 1px 0px #fff;
	cursor: pointer;
}


/* the nominations header section */
#checkmark {
	position: relative;
	left: 5%;
	display: inline-block;
	width: 30px;
	transform: translate(0%, 10%);
}

.countText {
	margin: 0% 0% 1% 0%;
}

/* nominations popup banner */
#popup-banner p {
	display: inline-block;
	text-align: left;
	margin: 0%;
	font-family: 'Trebuchet MS', sans-serif;
}

.nominations #popup-banner {
	margin: 0% 0% 1% 0%;
    width: 108%;
	padding: 1% 0% 1% 0%;
	border-radius: 15% 15% 0% 0%;
	text-align: center;
	background-color: #ccffcc;
}

#cancel {
	position: relative;
	left: 33%;
	display: inline-block;
	width: 15px;
	transform: translate(25%, 20%);
	cursor: pointer;
}

/* CSS for loading circle */
.overlay{
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
	text-align: center;
}

.overlay h2 {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 250%;
	margin-top: 19%;
	letter-spacing: -0.04em;
	color: blue;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 6px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
